<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title> WGHS Intern Management App - {{ title }}</title>
    {% else %}
    <title> WGHS Intern Management App</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'intern_management/css/style.css' %}">
</head>
<body>

    <div class="banner">
        <h2 class="logo_large">Logo</h2>
        {% if user.is_authenticated %}
            <div class="account_button_container" id="account_button_container">
                <img src="{% static 'intern_management/images/user-icon.svg' %}" alt="User Account Image">
                <p class='account_icon_arrow'></p>
                <div class="account_button_dropdown" id="account_button_dropdown">
                    <p> Signed in as: {{ user.username|upper}}</p>
                    <hr>
                    <a href="#">Profile</a>
                    <a href="{% url 'users:logout' %}">Log out</a>
                </div>
            </div>
        {% else %}
        <div class="container">
            <a href="{% url 'users:login' %}">login</a>
            <a href="{% url 'users:register' %}">register</a>
        </div>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
