<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
        <title>WGHS Intern Management System - {{ page }}</title>
        <link rel="stylesheet" href="{% static 'intern_management/css/style.css' %}">
    </head>
    <body>
        {% block header %}
            <img src="{% static 'intern_management/images/user-icon.svg' %}"/>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
