{% extends "intern_management/base.html" %}
{% load static %}
{% block header %}

{% endblock header %}
{% block content %}
<div class='content'>
    <div class="container_row white" id="home-search">
        <div class="search">
            <form method="GET" class="search_form">
                <div class="fieldWrapper" style="width: 100%;">
                    <label for="search">
                        <img class="search_icon" src="{% static 'intern_management/images/search.png' %}" height="25px" width="25px">
                    </label>
                    <input id="search" type="text" name="search">
                </div>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container_column">
        {% if locations %}
        {% for location in locations %}
        <div class="location_brief">
            <img class="location_brief_image" src="https://i.pinimg.com/originals/d7/10/91/d71091b4b4e7d89a3763395cdddd6d75.jpg" alt="Image of volunteer location">
            <div class="location_brief_text">
                <h3>{{ location.title }}</h3>
                <small>
                    {{ location.description|truncatewords:15 }}
                </small>
                <small><a href="{% url 'intern_management:location_details' location.pk %}"> go to details...</a></small>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container_row">
            <h1> There are no locations in the database Sorry :(</h1>
        </div>
        {% endif %}
    </div>


    <script src="{% static 'intern_management/scripts/main.js' %}" charset="utf-8"></script>
    {% endblock content %}
