{% extends "intern_management/base.html" %}
{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Location Sign Up Form</h2>
        <small>&#42;Please fill out this form in it's entirety</small>
    </div>

    <div class="row">
        <div class="col-md-1 order-md-1">
        </div>


        <div class="col-md-10 order-md-1">
            <h4 class="mb-3">Basic Info</h4>


            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Opportunity Type</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="volunteering" name="opportunityType" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Volunteering</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="internship" name="opportunityType" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Internship</label>
                    </div>

                </div>


                <hr class="mb-4">

                <h4 class="mb-3">Estimated time wanted (per week)</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="volunteering" name="opportunityType" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">1 Day(s)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="internship" name="opportunityType" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">2 Day(s)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="internship" name="opportunityType" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">3 Day(s)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="internship" name="opportunityType" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">4 Day(s)</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="internship" name="opportunityType" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">5 Day(s)</label>
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Days Available</h4>

                <div class="d-block my-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Monday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Tuesday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Wednesday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Thursday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Friday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Saturday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Sunday</label>
                    </div>




                </div>


                <hr class="mb-4">

                <h4 class="mb-3">Area(s) of Interest</h4>

                <div class="d-block my-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">English</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Social Studies</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Math</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Science</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Coding</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Acting</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Sunday</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Childcare</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Cooking</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Investing</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Photography</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Reading</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Robotics</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Video Games</label>
                    </div>

                </div>






                <button class="btn btn-primary btn-lg btn-block submit-btn" type="submit">Submit Form</button>
            </form>
        </div>

        <div class="col-md-1 order-md-1">
        </div>
    </div>


</div>

{% endblock content %}
