html, body{
    background: #3e4049;
    margin: 0;
    padding: 0;
    font-size: 2.5vmin;
    color: #fcfcfc;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: underline;
}
button{
    background-color: #333;
    border: none;
    color: white;
    padding: 5px 50px;
    text-decoration: none;
    font-size: 1em;
    height: 2.5em;
    text-align: center;
    margin: 10px 0px;
    width: auto;
}
button:hover{
    background-color: #fcfcfc;
    color: black;
    border: 1px solid black;
    transition: background .2s;
    cursor: pointer;
}
form{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}
img{
    max-width: 50vw;
    max-height: 50vh;
    padding: 10px;
    margin: 0px;
}
hr{
    width: 90%;
}
.margin-link{
    margin: 0px 5px;
}
.banner{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #303239;
    color: #fcfcfc;
}
.banner a{
    margin-right: 20px;
    color: #fcfcfc;
    text-decoration: none;
}
.logo_large{
    padding-left: 20px;
}
.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 1em;
}
.container_column{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #e7dfdd;
    color: #111111;
    padding: 2em;
}
.container_row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    max-width: 100%;
    background: #e7dfdd;
    color: #111111;
}
.container_description{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
    padding: 0px 20px;
}
.center_box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 2em;
    background: #fcfcfc;
    border-radius: 3px;
    max-width: 40vw;
    box-shadow: 0px 3px 5px #111111;
    margin: 3em auto;
    color: #111111;
    align-items: center;
}
.location_brief{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background: #fcfcfc;
    color: #111111;
    margin-bottom: 10px;
    max-width: 90%;
}
.location_brief_image{
    display: block;
    object-fit: cover;
    max-width: 25vw;
    max-height: 100%;
    padding: 0px 5px;
    vertical-align: middle;
}
.location_brief_text{
    max-width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-left: 1em;
    flex-direction: column;
    font-size: 1.2em;
}
.location_brief_text a{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.location_brief_text h3{
    margin: 1em 0 .5em 0;
    padding: 0px;
}
.location_details{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
}
.location_menu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid black;
    padding: 20px;
}
.location_menu a{
    padding: 1em;
}
.location_image{
    flex: 2;
    object-fit: cover;
    max-width: 35%;
    max-height: 100%;
    padding: 0px;
}
.arrow:hover{
    cursor: pointer;
}
.search{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.search_icon{
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    margin: 3px;
}
.search_form{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.search_form input[type='text']{
    height: 2em;
    margin: 5px;
    vertical-align: middle;
    width: 75%;
}
.search_form input[type='submit']{
    height: 2.3em;
}

.logo_small{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo_small img{
    height: 1.5em;
    width: 1.5em;
    margin: 0px 10px;
}
.logo_small p{
    font-size: 1.5em;
    color: #111111;
}
.dulled_text{
    color: #a5a7ac;
}
.input_fields{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    padding-bottom: 10px;
    border: none;
}
.input_fields input:not([type="checkbox"]){
    margin: 10px 0px;
    width: 100%;
    height: 3em;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 4px;
}
.input_fields select{
    width: 100%;
    height: 3em;
    margin: 10px 0px;
}
.help{
    width: 100%;
    background-color: transparent;
    font-size: .8em;
}
.errorlist{
    color: red;
    font-size: .5em;
}

/* Testing Grid */

.profile-site{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
            'profile-name'
            'internships';
    background: #e7dfdd;
    min-height: 100%;
    color: #111;
    padding: 2em;
}
.profile-image{
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
}
#profile_name{
    grid-area: profile-name;
}
#profile_content{
    width: 90%;
    padding-top: 1em;
    margin: 0px auto;
    grid-area: internships;
}

@media screen and (max-width: 1000px){

    .center_box{
        max-width: 75vw;
    }
}
@media screen and (max-width: 600px){
    .location_brief{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .location_brief_image{
        max-height: 40vh;
        max-width: 100%;
    }
    .location_brief_text{
        max-width: 100%;
    }
}
