{% extends "intern_management/base.html" %}
{% load static %}
{% block content %}
<div class="container pt-5">
    <div class="card w-50 h-100 mx-auto mt-5">
        <h5 class="card-header"> Sign In </h5>
        <div class="card-body">
            <form class="form-signin" method="POST">
                {% csrf_token %}
                <fieldset class="input_fields">
                    {{ form }}
                    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
