{% extends "intern_management/base.html" %}
{% block content %}
    <div class="center_box">
        <div class="logo_small">
            <img src="{{ static('intern_management/images/logo.png') }}">
            <p>WGHS Opportunities</p>
        </div>
        <h2>Password Reset</h2>

        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <fieldset class="input_fields">
                <div class="fieldWrapper">
                    {{ form }}
                </div>
            </fieldset>
        </form>
        <hr style="width: 100%;">
        <small>Forgotten your password? Enter your email address above, and we'll email instructions for setting a new one.</small>
    </div>
{% endblock content %}
